body {
  margin: 0;
  background: #0a0a0a;
  color: white;
  font-family: monospace;
}

#boot-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 24px;
}

#desktop {
  width: 100vw;
  height: 100vh;
  background: url("../assets/wallpapers/default.png");
}

#taskbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: #111;
}
